<link rel="stylesheet" href="/css/navbar.css">
<section class="navbar">
    <div class="logo">
        <img src="/img/svg/Logo.svg" alt="" srcset="">
    </div>
    <div class="my-link">
        <a href="/index"><div class="link1">HOME</div></a>
        <a href="/manage"><div class="link2">MANAGE DIARY</div></a>
        <a href="/logout"><div class="link3">LOGOUT</div></a>
    </div>
    <div class="hamburger">
        <img src="/img/svg/list.svg" alt="" srcset="">
    </div>
</section>
<div class="hamburger-lists close">
    <div class="close-button">
        <img src="/img/svg/x-square.svg" alt="" srcset="">
    </div>
    <a href="/index"><div class="link1-burger">HOME</div></a>
    <a href="/manage"><div class="link2-burger">MANAGE DIARY</div></a>
    <a href="/logout"><div class="link3-burger">LOGOUT</div></a>
</div>
<script src="/js/navbar.js"></script>